In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [5]:
dataset = pd.read_csv("Market_Basket_Optimisation.csv",header = None)

In [7]:
dataset.head(8)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,whole wheat pasta,french fries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,soup,light cream,shallot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
dataset.shape # 7501 transactions

(7501, 20)

#creating input for apriori - list of lists

In [35]:
transactions=[]
for i in range(len(dataset)):
    temp=[]
    for j in range(20):
        if not(pd.isnull(dataset.values[i][j])):
            temp.append(str(dataset.values[i][j]))
    transactions.append(temp)

In [46]:
transactions[1]

['burgers', 'meatballs', 'eggs']

Training the dataset

In [37]:
#importing libaraies
from apyori import apriori

In [38]:
rules = apriori(transactions,min_support =21/len(dataset) ,min_confidence=0.2,min_lift=3,min_lenght=2)
#taking products atleast 3 times a day or 21 times a week -> min support = 21/total transactions
#lenght -> num of rules atleast 2

In [39]:
#vizualising the results

In [40]:
results=list(rules)

In [44]:
results[1]

RelationRecord(items=frozenset({'light cream', 'chicken'}), support=0.004532728969470737, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.29059829059829057, lift=4.84395061728395)])

In [45]:
#if buy light cream then 29%chance of buying chicken